:root {
--background:	#292d3e;
--foreground:	#959dcb;
--comment:	#676e95;
--accent:	#c3e88d;
--redish:	#ff5370;
--orangis:	#f78c6c;
--yellowih:	#ffcb6b;
--greenish:	#c3e88d;
--bluish:	#82aaff;
--purplish:	#c792ea;
}

body {
    font-family: 'Nunito', sans-serif;
}